/**
 * ユーティリティクラス
 * 単一の目的を持つ再利用可能なクラス
 */

/* 表示/非表示 */
.u-spDisplayNone {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.u-pcDisplayNone {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

/* テキスト配置 */
.u-textCenter {
  text-align: center;
}

.u-textLeft {
  text-align: left;
}

.u-textRight {
  text-align: right;
}

/* マージン */
.u-mt0 {
  margin-top: 0;
}

.u-mt1 {
  margin-top: 1rem;
}

.u-mt2 {
  margin-top: 2rem;
}

.u-mt3 {
  margin-top: 3rem;
}

.u-mb0 {
  margin-bottom: 0;
}

.u-mb1 {
  margin-bottom: 1rem;
}

.u-mb2 {
  margin-bottom: 2rem;
}

.u-mb3 {
  margin-bottom: 3rem;
}

/* パディング */
.u-pt0 {
  padding-top: 0;
}

.u-pt1 {
  padding-top: 1rem;
}

.u-pt2 {
  padding-top: 2rem;
}

.u-pt3 {
  padding-top: 3rem;
}

.u-pb0 {
  padding-bottom: 0;
}

.u-pb1 {
  padding-bottom: 1rem;
}

.u-pb2 {
  padding-bottom: 2rem;
}

.u-pb3 {
  padding-bottom: 3rem;
}
