/**
 * ヘッダースタイル
 * 各セクションのIssueで実装
 */

@use '../partials/variables';
@use '../partials/reset';
@use '../partials/base';
@use '../partials/utilities';
@use '../partials/layout';

.header {
  /* ヘッダースタイルは各セクションのIssueで実装 */
}
